.about {
  display: flex;
  margin-top: 20px;
  height: auto;
  flex-direction: column;
  background-image: url('../images/pngwing.com\ \(3\).png');
  background-repeat: no-repeat;
  background-position: -30%;
  background-size: 40% auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header h1 {
  margin-bottom: 5px;
}

.typing-script {
  margin-bottom: 10px;
}

.content-video-skills {
  display: flex;
  width: 80vw;
  gap: 20px;
  margin-left: 20%;
}

.technologies {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 40vh;
  align-items: flex-start;
  margin-left: 10px;
  
}

.technology {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  position: relative;
  top: -5%;
  left: 4%;
  width: 23.5vw;
  padding: 5px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.description span {
  color: #0d470f;
  font-weight: bold;
}

.frameworks, .skills, .language {
background-color: rgb(26, 106, 26);
color: #fff;
 margin-top: 4px;
 margin-right: 0;
 z-index: 999;

}

.about-me-buttons {
  width: 27vw;
  border-radius: 20px;
  background-color: #95b4be;
  border: 1px solid green;
}

.aboutmevideo h1 {
  margin: 0;
}

.aboutmevideo p {
  color: rgb(5, 54, 5);
  font-size: 20px;
  font-style: oblique;
}

.youtubevideo {
  width: 50vw;
  height: 60vh; 
  border-radius: 20px;
  border: 0;
}

@media (max-width: 768px) {
  .about {
    margin-top: 15%;
  }

  .content-video-skills {
    width: 90vw;
    margin-left: 0;
  }

  .about-me-buttons {
    width: 50vw;
    height: 80vh;
  }

  .description {
    width: 33vw;
  }

}