.contact-container {
  margin-top: 50px;
  height: 100vh;
  text-align: center;
  background-image: url('../images/pngwing.com\ \(4\).png');
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: 50% auto;
}

.contact-content {
  z-index: 9999;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(45, 53, 45);
  border-radius: 5px;
}

input,
textarea {
  width: 40vw;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

#email {
  margin-bottom: 0;
}

#message {
  margin-top: 15px;
}

form button {
  width: 150px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

.download-resume {
  margin-top: 20px;
}